// 회원가입 scss : join.scss

@import "../variables";

.join-page {
  margin: 0 auto;
  width: 32rem;
  padding: 4rem 0;

  .join-top {
    text-align: center;

    .join-title {
      font-size: 2.4rem;
      font-weight: 700;

    }
  }

  .join-form {
    width: 100%;

    ul {
      padding: 1rem;

      li {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;

        label {
          font-size: 1.4rem;
          padding-left: 0.4rem;
          padding-bottom: 0.8rem;
        }

        input {
          padding: 1.2rem 1.4rem;
          border: none;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid $color-lightegray;
          border-radius: 1rem;
          text-overflow: ellipsis;
          &:focus {
            border-color: rgb(0, 196, 113);
            outline: rgb(0, 196, 113) auto 0.04rem;
          }
        }
      }
      .submit {
        margin-top: 1.6rem;
        padding: 1.2rem 1.4rem;
        border: .2rem solid $color-primary;
        width: 100%;
        box-sizing: border-box;
        border-radius: 1rem;
        text-overflow: ellipsis;
        background-color: $color-white;
        color: $color-primary;
        font-size: 1.6rem;
        font-weight: 500;
        transition: .3s ease-out;

        &.valid {
          // 모든 조건이 충족되었을 때의 배경색
          color: $color-white;
          border: none;
          background-color: $color-primary; 
        }
      }
      .log-submit {
        margin-top: 1.6rem;
        padding: 1.2rem 1.4rem;
        background: $color-primary;
        width: 100%;
        box-sizing: border-box;
        border-radius: 1rem;
        text-overflow: ellipsis;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
      }

      .join-already {
        padding-top: 1.6rem;
        display: flex;
        font-size: 1.2rem;
        gap: .8rem;
        justify-content: flex-end;
        li {
          color: $color-midgray;
          padding: 0;
          :last-child {
            color: $color-primary;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.login-wrap {
  width: 32rem;
  padding: 9rem 0 12rem;
}